@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* Vars */
/* Global Styles */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.btn {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 7px 12px;
}

.btn:hover {
  background-color: #48acef;
}

.bg-edit {
  background-color: #ffc107;
}

.hidden {
  display: none;
}

#device-size-error {
  display: none;
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
  margin-top: 100px;
}

.warning-symbol {
  color: red;
  padding: 15px;
  width: 100%;
  font-size: 6em;
}

.btn-warning {
  background-color: #dc3545;
}

.btn-warning:hover {
  background-color: #c82131;
}

#errorBox, #successBox {
  padding: 15px;
  display: none;
}

#errorBox {
  background-color: #dc3545;
}

#successBox {
  background-color: #28a745;
}

/* Begin: Navbar */
#nav {
  width: 100%;
  height: 75px;
  background-color: #3498db;
  color: #fefefe;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#nav .brand {
  float: left;
  font-weight: 700;
  font-size: 1.2em;
  padding: 27px;
}

#nav .control {
  float: right;
  padding: 27px;
  cursor: pointer;
}

#nav .control i {
  padding-right: 5px;
}

#nav .control:hover {
  background-color: #48acef;
}

/* End: Navbar */
/* Begin: Pos / Content */
#pos {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #bdc3c7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px auto 350px;
      grid-template-columns: 90px auto 350px;
  -ms-grid-rows: 75px auto 50px;
      grid-template-rows: 75px auto 50px;
}

#pos .sidebar, #pos .products, #pos .cart {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#pos .sidebar {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  background-color: #3498db;
  text-align: center;
  color: #fff;
}

#pos .sidebar ul {
  list-style: none;
}

#pos .sidebar ul li a:hover {
  background-color: #48acef;
}

#pos .sidebar ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}

#pos .sidebar ul li a {
  color: #fff;
  font-size: 1.2em;
  padding: 15px 34px;
}

#pos .products {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  padding: 25px;
  overflow: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#pos .products .search {
  width: 100%;
  padding-bottom: 10px;
}

#pos .products .search #searchbox {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}

#pos .products .product {
  width: 150px;
  height: 130px;
  background-color: #fefefe;
  padding: 15px;
  padding-bottom: 35px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#pos .products .product:hover {
  background-color: #0e0e0e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fefefe;
  cursor: pointer;
}

#pos .products .product img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#pos .products .product p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 5;
  width: 100%;
  text-align: center;
}

#pos .cart {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  background-color: #ecf0f1;
  overflow: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#pos .cart .item-matrix {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50px auto 180px;
      grid-template-rows: 50px auto 180px;
  height: 100%;
}

#pos .cart .item-matrix ul {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#pos .cart .item-matrix h1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  width: 100%;
}

#pos .cart .item-matrix ul {
  list-style: none;
  text-align: center;
  width: 100%;
}

#pos .cart .item-matrix ul li {
  padding: 7px;
  background-color: #fefefe;
  border-top: 1px solid #0e0e0e;
  text-align: left;
}

#pos .cart .item-matrix ul li .quantity {
  padding-left: 5px;
  padding-right: 5px;
  color: #e2cfcf;
  font-weight: 700;
}

#pos .cart .item-matrix ul li .del-row-trash {
  float: right;
  padding-right: 5px;
}

#pos .cart .item-matrix ul li .price {
  float: right;
}

#pos .cart .item-matrix ul li .item-name:hover {
  cursor: pointer;
}

#pos .cart .item-matrix .sale-control {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background-color: #34495e;
  color: #fff;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 50px 50px auto;
      grid-template-rows: 50px 50px auto;
  padding-top: 15px;
}

#pos .cart .item-matrix .sale-control .prices .left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  padding-left: 24px;
}

#pos .cart .item-matrix .sale-control .prices .right {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

#pos .cart .item-matrix .sale-control .transact {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#pos .cart .item-matrix .sale-control .transact .paybtn-holder {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#pos .cart .item-matrix .sale-control .transact .clearbtn-holder {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

#pos #footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  color: #fefefe;
  background-color: #34495e;
}

#pos #footer p {
  padding-top: 15px;
}

/* End: Pos / Content */
/* Begin: Payment Processor */
.process {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 25px;
  overflow: auto;
}

.process .process-btn {
  display: inline-block;
  background-color: #fefefe;
  padding: 15px;
  width: 150px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 15px;
  margin-right: 15px;
}

.process .process-btn i {
  font-size: 500%;
  width: 100%;
  padding: 5px;
}

.process .process-btn span {
  width: 100%;
}

.process .process-btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background-color: #0e0e0e;
}

.process .process-btn:hover i {
  color: #fefefe;
}

.process .process-btn:hover span {
  color: #fefefe;
}

/* End: Payment Processor */
/* Begin: Modal */
.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.modal .modal-main {
  background-color: #3498db;
  margin: 15vh;
  text-align: center;
}

.modal .modal-main .modal-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal .modal-main .close {
  font-size: 4em;
  padding: 0;
  float: right;
  font-weight: 700;
  margin-right: 35px;
  z-index: 1001;
}

.modal .modal-main .close:hover,
.modal .modal-main .close:focus {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fefefe;
}

.modal .modal-main .modal-content {
  padding-bottom: 15px;
}

.modal .modal-main .modal-content .form-control {
  width: 100%;
  padding: 15px;
  text-align: right;
}

.modal .modal-main .modal-content .form-control label {
  width: 25%;
}

.modal .modal-main .modal-content .form-control input {
  width: 75%;
}

/* End: Modal */
/* Begin: Login */
#authenticate {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #bdc3c7;
  -ms-grid-columns: 100px auto 100px;
      grid-template-columns: 100px auto 100px;
  -ms-grid-rows: 100px auto auto;
      grid-template-rows: 100px auto auto;
  text-align: center;
}

#authenticate .wrapper {
  background-color: #3498db;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

#authenticate .wrapper input {
  width: 80%;
  margin: 15px;
  padding: 5px;
  font-size: 1.5em;
}

#authenticate .wrapper h1 {
  margin-top: 75px;
  margin-bottom: 25px;
}

/* End: Login */
/* Begin: Media Queries */
@media only screen and (orientation: portrait) and (max-width: 1025px) {
  #pos {
    display: none;
  }
  #device-size-error {
    display: block;
  }
}

/* End: Media Queries */
/*# sourceMappingURL=global.css.map */