@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* Vars */
$primary-color: #3498db;
$background-color: #bdc3c7;
$font: "Open Sans", sans-serif;
$nav-size: 75px;
$footer-color: #34495e;
$cart-color: #ecf0f1;
$successColor: #28a745;
$errorColor: #dc3545;
/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}
.btn {
    background-color: $primary-color;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
}
.btn:hover {
    background-color: $primary-color + 20;
}
.bg-edit {
    background-color: #ffc107;
}
.hidden {
    display: none;
}
#device-size-error {
    display: none;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 100px;
}
.warning-symbol {
    color: red;
    padding: 15px;
    width: 100%;
    font-size: 6em;
}
.btn-warning {
    background-color: $errorColor;
}
%alert {
    padding: 15px;
    display: none;
}
#errorBox {
    @extend %alert;
    background-color: $errorColor;
}
#successBox {
    @extend %alert;
    background-color: $successColor;
}
/* Begin: Navbar */
$nav-padding: 27px;
#nav {
    width: 100%;
    height: $nav-size;
    background-color: $primary-color;
    color: #fefefe;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#nav {
    .brand {
        float: left;
        font-weight: 700;
        font-size: 1.2em;
        padding: $nav-padding;
    }
    .control {
        float: right;
        padding: $nav-padding;
        cursor: pointer;
        i {
            padding-right: 5px;
        }
    }
    .control:hover {
        background-color: $primary-color + 20;
    }
}
/* End: Navbar */
/* Begin: Pos / Content */
#pos {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: $background-color;
    display: grid;
    grid-template-columns: 90px auto 350px;
    grid-template-rows: $nav-size auto 50px;
}
%grid-row-2 {
    grid-row-start: 2;
    grid-row-end: 3;
}
#pos {
    .sidebar {
        @extend %grid-row-2;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: $primary-color;
        text-align: center;
        color: #fff;
    }
    .sidebar ul {
        list-style: none;
    }
    .sidebar ul li a:hover {
        background-color: $primary-color + 20;
    }
    .sidebar ul li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sidebar ul li a {
        color: #fff;
        font-size: 1.2em;
        $sidebar-content-pad: 34px;
        padding: 15px $sidebar-content-pad;
    }
    .products {
        @extend %grid-row-2;
        grid-column-start: 2;
        grid-column-end: 2;
        padding: 25px;
        overflow: auto;
        transition: 0.2s;
    }
    .products {
        .search {
            width: 100%;
            padding-bottom: 10px;
        }
        .search {
            #searchbox {
                width: 100%;
                padding: 10px;
                font-size: 1.1em;
            }
        }
        .product {
            width: 150px;
            height: 130px;
            background-color: #fefefe;
            padding: 15px;
            padding-bottom: 35px;
            margin-right: 15px;
            margin-bottom: 15px;
            display: inline-block;
            transform: translateZ(0);
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: 0.2s;
        }
        .product:hover {
            background-color: #0e0e0e;
            transition: 0.2s;
            color: #fefefe;
            cursor: pointer;
        }
        .product {
            img {
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                z-index: 5;
                width: 100%;
                text-align: center;
            }
        }
    }
    .cart {
        @extend %grid-row-2;
        grid-column-start: 3;
        grid-column-end: 3;
        background-color: $cart-color;
        overflow: auto;
        transition: 0.2s;
    }
    .cart {
        .item-matrix {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50px auto 180px;
            height: 100%;
        }
        %item-matrix-row-2 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .item-matrix {
            h1 {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 2;
                text-align: center;
                width: 100%;
            }
            ul {
                @extend %item-matrix-row-2;
                list-style: none;
                text-align: center;
                width: 100%;
            }
            ul {
                li {
                    padding: 7px;
                    background-color: #fefefe;
                    border-top: 1px solid #0e0e0e;
                    text-align: left;
                }
                li {
                    .quantity {
                        padding-left: 5px;
                        padding-right: 5px;
                        color: #e2cfcf;
                        font-weight: 700;
                    }
                    .del-row-trash {
                        float: right;
                        padding-right: 5px;
                    }
                    .price {
                        float: right;
                        // padding-right: 5px;
                    }
                    .item-name:hover {
                        cursor: pointer;
                    }
                }
            }
            .sale-control {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                background-color: $footer-color;
                color: #fff;
                width: 100%;
                text-align: center;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 50px 50px auto;
                padding-top: 15px;
            }
            .sale-control {
                .prices {
                    .left {
                        grid-column-start: 1;
                        grid-column-end: 2;
                        text-align: left;
                        padding-left: 24px;
                    }
                    .right {
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                }
                .transact {
                    grid-row: 3 / 4;
                    grid-column: 1 / 4;
                }
                .transact {
                    .paybtn-holder {
                        grid-column: 1 / 2;
                    }
                    .clearbtn-holder {
                        grid-column: 2 / 3;
                    }
                }
            }
        }
        
    }
    // Begin Footer
    #footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        color: #fefefe;
        background-color: $footer-color;
    } 
    #footer p {
        padding-top: 15px;
    }
    // End Footer
}
/* End: Pos / Content */
/* Begin: Payment Processor */
.process {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 25px;
    overflow: auto;
}
.process {
    .back-to-sale {
        background-color: #fefefe;
        padding: 15px;
        width: 150px;
        text-align: center;
        transition: 0.2s;
    }
    .back-to-sale {
        i {
            font-size: 500%;
            width: 100%;
            padding: 5px;
        }
        span {
            width: 100%;
        }
    }
    .back-to-sale:hover {
        transition: 0.2s;
        cursor: pointer;
        background-color: #0e0e0e;
        i {
            color: #fefefe;
        }
        span {
            color: #fefefe;
        }
    }
}
/* End: Payment Processor */
/* Begin: Modal */
.modal {
    display: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    box-sizing: unset;
}
.modal {
    .modal-main {
        background-color: $primary-color;
        margin: 15vh;
        text-align: center;
    }
    .modal-main {
        .modal-header {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .close {
            font-size: 4em;
            padding: 0;
            float: right;
            font-weight: 700;
            margin-right: 35px;
            z-index: 1001;
        }
        .close:hover,
        .close:focus {
            cursor: pointer;
            transition: 0.2s;
            color: #fefefe;
        }
        .modal-content {
            padding-bottom: 15px;
        }
        .modal-content {
            .form-control {
                width: 100%;
                padding: 15px;
                text-align: right;
            }
            .form-control {
                label {
                    width: 25%;
                }
                input {
                    width: 75%;
                }
            }
        }
    }
}
/* End: Modal */
/* Begin: Login */
#authenticate {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: $background-color;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto auto;
    text-align: center;
    .wrapper {
        background-color: $primary-color;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        input {
            width: 80%;
            margin: 15px;
            padding: 5px;
            font-size: 1.5em;
        }
        h1 {
            margin-top: 75px;
            margin-bottom: 25px;
        }
    }
}
/* End: Login */

/* Begin: Media Queries */
@media only screen and (orientation: portrait) and (max-width: 1025px){
    #pos {
        display: none;
    }
    #device-size-error {
        display: block;
    }
}
/* End: Media Queries */