@font-face {
    font-family: 'text-security-disc';
    src: url('webfonts/text-security-disc.eot');
    src: url('webfonts/text-security-disc.eot?#iefix') format('embedded-opentype'),
        url('webfonts/text-security-disc.woff2') format('woff2'),
        url('webfonts/text-security-disc.woff') format('woff'),
        url('webfonts/text-security-disc.ttf') format('truetype'),
        url('webfonts/text-security-disc.svg#text-security') format('svg');
}
body {
    background-color: #073546;
}
#authenticate {
    background-color: #073546;
    height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 100px auto auto 100px;
    background-image: linear-gradient(to right, #56C1A8 50%, #fff 50%);
    background-color: #fff;
    min-height: 500px;
}
.wrapper {
    h1 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        color: #0e0e0e;
    }
}
.store-details {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}
.store-details {
    p {
        padding: 15px;
    }
}
.keypad {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.errorBox {
    color: red;
    font-weight: 700;

    text-align: center;
}
.keypad { 
    .row {
        width: 100%;
        padding-top: 30px;
    }
    .border-row {
        border-top: 1px solid #E0E0E0;
    }
    .row {
        .keypad-number {
            padding: 30px;
            color: #0e0e0e;
            font-size: 1.5em;
            font-weight: 700;
            cursor: pointer;
            user-select: none;
        }
        .backbtn {
            text-align: right;
            font-size: 0.9em;
        }
        .backholder {
            padding-left: 20px;
        }
        .keypad-spacer {
            margin-left: 23px;
            padding: 30px;
        }
    }
}
#currentCode {
    -webkit-text-security: disc;
    font-family: 'text-security-disc';
    font-size: 3em;
    height: 68px;
}

.keypad-loader {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #073546;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px){
    #authenticate {
        display: none;
    }
    #device-size-error {
        display: block;
    }
    body {
        background-color: #fff;
    }
}