#device-size-error {
    display: none;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 100px;
}
.warning-symbol {
    color: red;
    padding: 15px;
    width: 100%;
    font-size: 6em;
}