@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* Vars */
$font: "Open Sans", sans-serif;
/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font;
}
html {
    overflow-x: hidden;
}
.loader-pre {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
/* Begin: Content */
#container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    min-width: 100vw;
    min-height: 100vh;
}
/* Begin: Navigation */
#nav {
    grid-column: 1 / 2;
    background-color: #25364A;
    min-height: 100vh;
    width: 300px;
    position: fixed;
    // box-shadow: 10px -10px 5px grey;
}
#nav {
    .brand {
        color: #fff;
        font-size: 1.8em;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
    .brand-subtext {
        color: #fff;
        width: 100%;
        font-size: 0.6em;
        text-align: center;
    }
    .nav-list {
        margin-top: 30px;
        // margin-left: 55px;
        list-style: none;
    }
    .nav-list {
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            a {
                margin-left: 55px;
                color: #fff;
                font-size: 1.2em;
                text-decoration: none;
                // padding-top: 10px;
                // padding-bottom: 10px;
                display: block;
                width: 100%;
                height: 100%;
                i {
                    min-width: 30px;
                }
            }
        }
        li:hover {
            background-color: #25364A + 20;
            cursor: pointer;
        }
    }
}
/* End: Navigation */
/* Begin: Prim zone */
#content {
    grid-column: 2 / 3;
    text-align: center;
    display: grid;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: 250px auto;
    background-color: #e8ecf1;
}

/* Begin: Dash */
.chart-holder {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.dash-gross-profit {
    grid-column: 1 / 2;
}
.dash-total-sales {
    grid-column: 2 / 3;
}
.dash-users {
    grid-column: 3 / 4;
}
.dash-reports {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 7px;
    margin-top: 15px;
}
.dash-box {
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;
    background-color: #6c7a89;
    border-radius: 5px;
}
.dash-box {
    i {
        display: inline-block;
        font-size: 5em;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .title {
        font-size: 1.1em;
        width: 100%;
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .value {
        font-size: 1.6em;
        width: 100%;
        display: block;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
/* End: Dash */
/* Begin: Sales */
.sales-date-range {
    grid-column: 1 / 4;
}
.sales-table {
    grid-column: 2 / 4;
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.sales-table {
    thead {
        font-weight: 700;
        border-bottom: 3px solid #000;
        font-size: 1.2em;
        text-align: left;
    }
    thead tr td {
        padding-left: 7px;
    }
    tbody tr td {
        padding: 7px;
        text-align: left;
    }
    tbody tr:nth-child(even) {
        background-color: #e8ecf1 - 30;
    }
    // thead tr:hover, 
    tbody tr:hover {
        background-color: #e8ecf1 - 60;
    }
}
/* End: Sales */
/* End: Prim zone */
/* End: Content */